.titlebar {
    .x-component {
        font-size: 16px !important;
    }

    .title {
        padding: 9px 0px !important;
    }

    .x-panel-body-el {
        background: #3977b6 !important;
        color: #ffffff;
        padding: 5px 15px;
    }
}